---
import Layout from "../../layouts/Layout.astro";
import Form from "../../components/Form.vue";
import Forms from "../../components/Forms.astro";
---

<Layout title="Blog">
  <div class="flex justify-center">
    <div class="my-16 bg-base-200 rounded max-w-xl p-8">
      <h1 class="text-5xl text-white font-bold text-center my-4 leading-none">
        Creating a new MD file
      </h1>
      <Form client:only />
    </div>
  </div>
</Layout>
