---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
---

<Layout title="Fundatur">
  <main class="w-full">
    <Hero />
    <Features />
    
  </main>
</Layout>
