---
import { LoginCard } from "../components/Login";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Intranet">
    <div class="flex items-center justify-items-center justify-center h-[800px] w-full">
        <LoginCard />
    </div>
</Layout>