<div class="relative mx-auto flex items-center justify-center max-w-screen-2xl">
  <img
    class="rounded-b-lg brightness-50 relative h-[600px] w-full"
    src="/cavam-blog.jpg"
    alt="HeroCover"
  />
  <div class="absolute-center">
    <p class="text-white text-3xl lg:text-5xl font-medium">BLOG</p>
    <p class="text-white text-lg lg:text-xl">Mira nuestros articulos</p>
  </div>
</div>

<style>
  .absolute-center {
    position: absolute;
    top: 85%;
    left: 5%;
    transform: translate(-5%, -85%);
  }
</style>
