<!-- <div class="relative mx-auto flex items-center justify-center max-w-screen-2xl "> -->
<div
  class="w-full mx-auto rounded-b-lg max-w-screen-2xl h-screen max-h-[32rem] p-24 relative overflow-hidden block z-10 bg-[url('/cavam-blog.jpg')] bg-cover bg-no-repeat bg-center before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-t before:from-black before:to-black/60 before:opacity-75 before:z-[-5]"
>
  <!-- <img
    class="rounded-b-lg brightness-50 relative w-full"
    src="/cavam-blog.jpg"
    alt="HeroCover"
  /> -->
  <div class="absolute-center">
    <p class="text-white text-3xl lg:text-5xl font-medium">BLOG</p>
    <p class="text-white text-lg lg:text-xl">Mira nuestros artículos</p>
  </div>
</div>

<style>
  .absolute-center {
    position: absolute;
    top: 85%;
    left: 5%;
    transform: translate(-5%, -85%);
  }
</style>
