<div class="flex items-center justify-center w-full">
    <div class="mb-4 relative">
        <img class="rounded-b-lg brightness-50 relative h-[600px]" src="./cavam-blog.jpg" alt="HeroCover">
        <div class="absolute-center">
            <p class="text-white text-3xl lg:text-5xl font-medium">BLOG</p>
            <p class="text-white text-lg lg:text-xl">Mira nuestros articulos</p>
        </div>
    </div>
</div>

<style>
    .absolute-center {
      position: absolute;
      top: 85%;
      left: 5%;
      transform: translate(-5%, -85%);
    }
</style>