<footer
  class="w-full px-4 py-5 bg-white border-t-4 sm:px-6 lg:px-8 border-primary"
>
  <!-- Grid -->
  <div class="grid items-center grid-cols-1 gap-5 text-center md:grid-cols-3">
    <div>
      <a
        class="flex-none text-xl font-extrabold text-primary"
        href="/"
        aria-label="Brand">FUNDATUR</a
      >
    </div>
    <!-- End Col -->

    <div class="text-center">
      <label class="font-base">
        <b>Boletin informativo:</b> ¡suscribete!
      </label>
      <div class="flex items-center justify-center mt-2">
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Email@ejemplo.com"
          class="input input-bordered w-48 max-w-xs input-primary bg-white rounded-r-none"
        />
        <button id="subBtn" class="btn btn-primary rounded-l-none text-white">Suscribirme</button>
      </div>
    </div>
    <!-- End Col -->

    <!-- Social Brands -->
    <div
      class="flex flex-col items-center justify-center gap-6 space-x-2 md:flex-row md:text-end"
    >
      <p class="font-medium">eventofundatur@gmail.com</p>
      <div>
        <a
          class="inline-flex items-center justify-center w-8 h-8 text-sm font-semibold text-gray-500 border border-transparent rounded-full gap-x-2 hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          href="https://www.facebook.com/Fundaturv/"
          target="_blank"
        >
          <svg
            class="flex-shrink-0 w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            ><path
              fill="#666666"
              d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4z"
            ></path></svg
          >
        </a>
        <a
          class="inline-flex items-center justify-center w-8 h-8 text-sm font-semibold text-gray-500 border border-transparent rounded-full gap-x-2 hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          href="https://twitter.com/fundaturV10"
          target="_blank"
        >
          <svg
            class="flex-shrink-0 w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            ><path
              fill="#666666"
              d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
            ></path></svg
          >
        </a>
        <a
          class="inline-flex items-center justify-center w-8 h-8 text-sm font-semibold text-gray-500 border border-transparent rounded-full gap-x-2 hover:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          href="https://www.instagram.com/fundaturvalencia/?hl=es-la"
          target="_blank"
        >
          <svg
            class="flex-shrink-0 w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            ><path
              fill="#666666"
              d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
            ></path></svg
          >
        </a>
      </div>
    </div>
    <!-- End Social Brands -->
  </div>
  <!-- End Grid -->
</footer>
<script>
  const subBtn = document.getElementById('subBtn');
  const email = document.querySelector('input') as HTMLInputElement;
  subBtn?.addEventListener('click', () => {
    const emailValue = email.value;
    console.log(emailValue)
    if (emailValue) {
      const url = `${import.meta.env.PUBLIC_DB}newsletter/`;
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          email: emailValue
        })
      }).then((response) => {
        location.reload();
        alert('Se ha suscripto correctamente');
      })
    }
  })
</script>
