<!-- Hero -->
<div class="bg-cover" style="background-image: url(/plaza-bolivar3.jpg);">
  <div class="bg-black bg-opacity-50">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
      <!-- Title -->
      <div class="max-w-3xl mx-auto text-center">
        <h1
          class="block pb-2 text-4xl font-medium text-gray-200 sm:text-5xl md:text-6xl lg:text-7xl"
        >
          FUNDATUR
        </h1>
        <h2
          class="block text-xl font-medium text-gray-200 sm:text-xl md:text-2xl lg:text-3xl"
        >
          La Fundación para el Fomento y Desarrollo de Obras y Actividades
          Turísticas y Recreacionales.
        </h2>
      </div>
      <!-- End Title -->

      <div class="max-w-3xl mx-auto text-center">
        <p class="text-lg text-gray-300">
          Ente oficial de la Alcaldia de Valencia encargada de la Gestión y
          promoción del turismo y la recreación en la ciudad de Valencia, estado
          Carabobo, Venezuela.
        </p>
        <p class="text-lg text-gray-300">
          Con sede en el Centro de Artes Vivas "Alexis Mujica", mejor conocido
          como "CAVAM", ubicado en el Centro Histórico de Valencia, justo en
          frente de la Plaza Bolívar, al lado de la Curia y Catedral.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->
