<div class="flex flex-col items-center justify-center pb-8 bg-base-200">
    <div class="w-full pt-12 pb-8 text-center bg-gradient-to-b from-base-100 to-base-200">
        <p class="text-3xl font-extrabold leading-8 tracking-tight text-primary sm:text-4xl">
            Mapa Interactivo
        </p>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-center gap-4">
      <button id="eventBtn" class="mb-4 btn btn-primary">Ver Eventos</button>
      <button id="tourBtn" class="mb-4 btn btn-primary">Ver Inventario Turistico</button>
    </div>
    <div id="map" class="max-w-4xl"></div>
</div>
<script>
import  '../js/map.js';
</script>
<style>
    #map {
      width: 100%;
      height: 70vh;
      border-radius: 10px;
    }
</style>