<div class="flex flex-col items-center justify-center">
    <p class="mt-2 mb-2 text-3xl font-extrabold leading-8 tracking-tight text-primary sm:text-4xl">
        Noticias
    </p>
    <p class="mb-8 text-3xl font-medium leading-8 tracking-tight text-primary sm:text-2xl">
        Todas las noticias recientes relacionadas con la cultura de nuestra Valencia
    </p>
    <div class="flex flex-row gap-10 flex-wrap">
        <div class="card bg-white shadow-xl">
            <figure class="h-[300px] w-[300px]"><img src="https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
            <div class="card-body">
              <h2 class="card-title">New album is released!</h2>
              <p>Click the button to listen on Spotiwhy app.</p>
            </div>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Listen</button>
            </div>
        </div>
        <div class="card card-compact bg-primary text-white shadow-xl">
            <figure class="h-[300px] w-[300px]"><img src="https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
            <div class="card-body">
              <h2 class="card-title">New album is released!</h2>
              <p>Click the button to listen on Spotiwhy app.</p>
            </div>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Listen</button>
              </div>
        </div>
        <div class="card card-compact bg-base-200 shadow-xl">
            <figure class="h-[300px] w-[300px]"><img src="https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
            <div class="card-body">
              <h2 class="card-title">New album is released!</h2>
              <p>Click the button to listen on Spotiwhy app.</p>
            </div>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Listen</button>
              </div>
    </div>
</div>