---
import MapForm from "../../components/MapForm.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="MapForm">
  <h1 class="text-4xl text-primary font-bold text-center my-6 leading-none">
    Seleccione el lugar donde anadir el marcador
  </h1>
  <div id="map" class="max-w-4xl rounded-lg w-full h-[70vh] mx-auto"></div>
  <MapForm />
</Layout>